node_modules/
dist/
migrations/
.env
*.log
.DS_Store


.env
.env.example
.env.development
.env.production

# Compiled Prisma config files
prisma.config.js
prisma.config.js.map
prisma.config.d.ts
prisma.config.d.ts.map
